

    <div id="borrow-available" class="modal-lib">
  
        <form class="new-library modal-lib-content" style="background-color: whitesmoke;" method="POST" action="/borrow/{{this.isbn}}">
          <span class="close-sign">&times;</span>
          <fieldset>
              <!-- <i class="fas fa-sign-in-alt fa-4x" id="sign-in-icon"></i> -->
              <h1>Νέος Δανεισμός</h1> 
              <hr>
    
              <div style="margin: auto; text-align: center;">
                <label for="user-id"><strong>Κωδικός μέλους:&nbsp;</strong>
                    <input type="text" name="userId" id="user-id" style="width: 10em;" required>
                </label>

                <input type="text" name="bookNum" id="book-num" style="display:none;">
                <input type="text" name="libraryId" id="lib-id" style="display:none;">
                  
              </div> 
    
    
            <br>
    
            <button type="submit" class="reserve-btn save-btn1">Δανεισμός</button>
          </fieldset>
        </form>
      </div>

      <div id="delayed-return" class="modal-lib" style="display: none;">
  
        <form class="new-library modal-lib-content" style="background-color: whitesmoke;" method="POST" action="">
          <span class="close-sign">&times;</span>
          <fieldset>
              <h1>Καθυστερημένη επιστροφή</h1> 
              <hr>
    
              <h5>Ημέρες καθυστέρησης: <span class="address" style="font-size: medium;">10</span></h5>
              <h5>Κόστος ανα ημέρα: <span class="address" style="font-size: medium;">0,5€</span></h5>
              <h5>Σύνολο: <span class="address" style="font-size: medium;">5€</span></h5>
    
    
            <br>
    
            <button class="reserve-btn save-btn1">Επιβεβαίωση</button>
          </fieldset>
        </form>
      </div>




    <div class="main-page-books">

        <div class="book">
            {{#if imageFile}}
            <img src="{{imageFile}}" alt="Cover photo" class="book-img">
            {{else}}
            <img src="/images/booknotpictured.jpg" alt="Cover photo not found" id="thumb{{book.ISBN}}" class="book-img">
            <script src="/js/book-get-image.js"></script>
            {{!-- <script>
                fetch('https://www.googleapis.com/books/v1/volumes?q=isbn:{{book.ISBN}}')
                    .then(response => response.json())
                    .then(data => {
                        if (data.totalItems>0 && data.items[0].volumeInfo.imageLinks && data.items[0].volumeInfo.imageLinks.smallThumbnail){
                            document.querySelector('#thumb{{book.ISBN}}').src = data.items[0].volumeInfo.imageLinks.smallThumbnail;
                            document.querySelector('#thumb{{book.ISBN}}').alt = 'Cover photo from Google books';
                        }
                        else{
                            fetch('https://covers.openlibrary.org/b/isbn/{{book.ISBN}}-M.jpg?default=false')
                                .then(response => {
                                    if (response.status==200){
                                        document.querySelector('#thumb{{book.ISBN}}').src = 'https://covers.openlibrary.org/b/isbn/{{book.ISBN}}-M.jpg?default=false';
                                        document.querySelector('#thumb{{book.ISBN}}').alt = 'Cover photo from Open Library';
                                    }
                                })
                        }
                    });
            </script> --}}
            {{/if}}

            <div>
                <h4>{{book.Τίτλος}}</h4><br>
                <span><strong>Συγγραφ{{this.writers_end}}: </strong></span>
                    <span>
                    {{#each writers}}
                            {{this}}
                    {{/each}}
                    </span><br>
                <span><strong>Έκδοση: </strong></span><span>{{book.Έκδοση}}</span><br>
                <span><strong>Έτος έκδοσης: </strong></span><span>{{book.Εκδοτικός_οίκος}}</span><br>
                <span><strong>Εκδοτικός οίκος: </strong></span><span>{{book.Ημερομηνία_Έκδοσης}}</span><br>
                <span><strong>ISBN: </strong></span>{{book.ISBN}}<span></span><br>
                <span><strong>Αριθμός σελίδων: </strong></span>{{book.Σελίδες}}<span></span><br>
                <span><strong>DDC: </strong></span>{{book.DDC}}<span></span><br>
            </div>

            
        </div>
        {{!-- <span><strong><u>Περιγραφή</u></strong></span><br>
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Facilis voluptatem earum cum! Provident beatae iste unde quibusdam veniam qui 
                    fuga similique sapiente, excepturi, ducimus at ex maxime quasi et fugiat!</span><br> --}}
                
                <span><strong>Κατηγορίες: </strong></span><span>
                    {{#each categories}}
                            {{this.Όνομα}}
                    {{/each}}
                    </span><br><br>
                    <span><strong>Συνολικά αντίτυπα: </strong></span>{{total_books_count}}<span></span><br><br>
                    
                    <span><strong><u>Αντίτυπα Βιβλιοθήκης: {{this.booksHere}}</u></strong></span><br>
                    <div>
                    <table class="my-lib">
                        <tr>
                            <th>Αντίτυπο</th>
                            <th>Θέση</th>
                            <th>Δανεισμός</th>
                        </tr>
                        {{#each thisLib}}
                            
                            {{#if this.Μέλος}}
                            <tr class="keeped"></tr>
                                <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                                <td>Κρατημένο για τον χρήστη {{this.Μέλος}}</td>
                                <td><button class="reserve-btn borrow-btn available-btn" data-user-id="{{this.Μέλος}}" 
                                        {{!-- onclick=" location.href='/reservation-confirm/{{this.Μέλος}}' " --}}
                                        >Δανεισμός</button></td>
                            </tr>
                            {{else if this.here}}
                            <tr class="available"></tr>
                                <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                                <td>Διαθέσιμο για δανεισμό</td>
                                <td><button class="reserve-btn borrow-btn available-btn" data-book-id="{{this.Αριθμός_αντιτύπου}}" data-book-library-id="{{this.Κωδικός_Βιβλιοθήκης}}">Δανεισμός</button></td>
                            </tr>
                            {{else if this.Μεταφέρεται_σε}}
                            <tr class="not-available">
                                <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                                <td>Μεταφέρεται στην βιβλιοθήκη [{{this.Μεταφέρεται_σε}}]</td>
                                <td><button class="reserve-btn borrow-btn disabled" >Επιστροφή</button></td>
                            </tr>
                            {{else if this.Δανεισμένο_σε}}
                            <tr class="not-available">
                                <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                                <td>Δανεισμένο στον χρήστη {{this.Δανεισμένο_σε}}</td>
                                <td><button class="reserve-btn borrow-btn to-return-delay" data-isbn="{{../isbn}}" data-book-id="{{this.Αριθμός_αντιτύπου}}" 
                                        data-lib-id="{{this.Κωδικός_Βιβλιοθήκης}}" data-user-id="{{this.Δανεισμένο_σε}}" 
                                        onclick="location.href='/return/{{../isbn}}/{{this.Αριθμός_αντιτύπου}}/{{this.Κωδικός_Βιβλιοθήκης}}/{{this.Δανεισμένο_σε}}' "
                                        >Επιστροφή</button></td>
                            </tr>
                            {{else}}
                            <tr class="not-available">
                                <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                                <td>{{this.Βιβλιοθήκη_τώρα_όνομα}}</td>
                                <td><button class="reserve-btn borrow-btn disabled">Επιστροφή</button></td>
                            </tr>                                        


                            {{/if}}
                        {{/each}}
                    </table>
                    
                    
                </div>

                <form method="post" action="" style="background-color: #abbed1;">                
                    <button class="reserve-btn add-new-lib-book">Προσθήκη αντιτύπου</button>
                </form>
                
                
                <br>
                
                <div>
                    <span><strong><u>Αντίτυπα άλλων βιβλιοθηκών: {{this.booksOthers}}</u></strong></span><br>
                    
                    <table class="other-libs">
                        <tr>
                            <th>Αντίτυπο</th>
                            <th>Ιδιοκτήτρια βιβλιοθήκη</th>
                            <th>Θέση</th>
                            <th>Δανεισμός</th>
                        </tr>
                        {{#each otherLibs}}
                            
                            {{#if this.Μέλος}}
                        <tr class="keeped"></tr>
                            <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                            <td>{{this.owner}}</td>
                            <td>Κρατημένο για τον χρήστη {{this.Μέλος}}</td>
                            <td><button class="reserve-btn borrow-btn available-btn" data-user-id="{{this.Μέλος}}" 
                            {{!-- onclick=" location.href='/reservation-confirm/{{this.Μέλος}}' " --}}
                            >Δανεισμός</button></td>
                        </tr>
                        {{else if this.here}}
                        <tr class="available"></tr>
                            <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                            <td>{{this.owner}}</td>
                            <td>Διαθέσιμο για δανεισμό</td>
                            <td><button class="reserve-btn borrow-btn available-btn" data-book-id="{{this.Αριθμός_αντιτύπου}}" data-book-library-id="{{this.Κωδικός_Βιβλιοθήκης}}">Δανεισμός</button></td>
                        </tr>
                        {{else if this.Μεταφέρεται_σε}}
                        <tr class="not-available">
                            <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                            <td>{{this.owner}}</td>
                            <td>Μεταφέρεται στην βιβλιοθήκη [{{this.Μεταφέρεται_σε}}]</td>
                            <td><button class="reserve-btn borrow-btn disabled">Επιστροφή</button></td>
                        </tr>
                        {{else if this.Δανεισμένο_σε}}
                        <tr class="not-available">
                            <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                            <td>{{this.owner}}</td>
                            <td>Δανεισμένο στον χρήστη {{this.Δανεισμένο_σε}}</td>
                            <td><button class="reserve-btn borrow-btn to-return-delay" data-isbn="{{../isbn}}" data-book-id="{{this.Αριθμός_αντιτύπου}}" 
                                    data-lib-id="{{this.Κωδικός_Βιβλιοθήκης}}" data-user-id="{{this.Δανεισμένο_σε}}"
                                    onclick=" location.href='/return/{{../isbn}}/{{this.Αριθμός_αντιτύπου}}/{{this.Κωδικός_Βιβλιοθήκης}}/{{this.Δανεισμένο_σε}}' "
                                    >Επιστροφή</button></td>
                        </tr>
                        {{else}}
                        <tr class="not-available">
                            <td>Αντίτυπο {{this.Αριθμός_αντιτύπου}}</td>
                            <td>{{this.owner}}</td>
                            <td>{{this.Βιβλιοθήκη_τώρα_όνομα}}</td>
                            <td><button class="reserve-btn borrow-btn disabled">Επιστροφή</button></td>
                        </tr>                                        


                        {{/if}}
                        {{/each}}
                    </table>
                    
                    
                </div><br>

                </div>
        <!-- <button class="reserve-btn" style="">Κράτηση</button> -->
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    </div>
    <!-- <script>
        document.querySelector('#reset-library').addEventListener("click", function() {
            document.querySelector('#library').value = ""
        })

    </script> -->

    <script src="/js/book-staff.js"></script>
</body>

</html>