
    <div class="main-page-books">
        <h1>Βιβλία</h1>
        <div>
            <span>Αναζητήστε τα βιβλία που έχουμε διαθέσιμα στην συλλογή μας.</span>
        </div>
        <br>
        <form class="search" style="background-color: #abbed1;" action="">
            <label for="search" style="margin-bottom: 5px;"><h6>Αναζητήστε με βάση τον τίτλο, τον συγγραφέα ή το ISBN του βιβλίου:</h6></label>
            <input type="text" placeholder="Αναζήτηση.." name="search" id="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <br>
        <div>
            <h5>Φίλτρα:</h5>
            <div class="filter">
                <label for="select-library">
                    <h6>Βιβλιοθήκη:</h6>
                </label>
                <select id="select-library" name="select-library">
                    <option value="" disabled hidden selected>Επιλέξτε βιβλιοθήκη</option>
                    <option value="all">Όλες</option>
                    <option value="patra">Δανειστική Βιβλιοθήκη Πατρών</option>
                    <option value="saab">Δανειστική Βιβλιοθήκη Αθήνας</option>
                </select>
            </div>


            <div class="filter">
                <label for="select-availability">
                    <h6>Διαθεσιμότητα:</h6>
                </label>
                <select id="select-availability" name="select-availability">
                    <option value="" disabled hidden selected>Επιλέξτε Διαθεσιμότητα</option>
                    <option value="all">Όλα</option>
                    <option value="available">Διαθέσιμα</option>
                    <option value="not-available">Δανεισμένα</option>
                </select>
            </div>

            <div class="filter category-select">
                <div>
                    <label for="categories"><h6>Κατηγορία:</h6></label>
                    
                </div>
                <!-- <div>
                    <div>
                        <input type="checkbox" id="philosophy" name="select-category" value="philosophy">
                        <label for="philosophy">Philosophy</label>
                    </div>
                    <div>
                        <input type="checkbox" id="computers" name="select-category" value="computers">
                        <label for="computers">Computers</label>
                    </div>
                    <div>
                        <input type="checkbox" id="science-fiction" name="select-category" value="science-fiction">
                        <label for="science-fiction">Science fiction</label>
                    </div>
                </div>
                <div>
                    <h6 style="margin-top: 0.1em;">Κατηγορία:</h6>
                </div> -->
                <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor" id="anchor">Επιλέξτε κατηγορίες</span>
                    <ul class="items" id="categories">
                        <li><label for="select-all"><input type="checkbox" name="category" id="select-all"/> Επιλογή όλων</label></li>
                        <li><label for="philosophy"><input type="checkbox" name="category" id="philosophy"/> Φιλοσοφία</label></li>
                        <li><label for="computers"><input type="checkbox" name="category"id="computers"/> Υπολογιστές</label></li>
                        <li><label for="databases"><input type="checkbox" name="category"id="databases"/> Βάσεις δεδομένων</label></li>
                        
                        <!-- let checkboxes = document.querySelectorAll('input[name="category"]:checked'); -->


                     
                    </ul>
                  </div>
                  
                

            </div>

            <div class="filter">
                <h6>Αριθμός σελίδων:</h6><span>Από <input id="pages-from" name="pages-from" type="number" min="0"> Έως <input id="pages-to" name="pages-to"type="number" min="1"></span> 
            </div> 
            <button class="reserve-btn">Εφαρμογή</button>
            <!-- <button id="reset-library">
              Επαναφορά
          </button> -->

        </div>
        <!-- <br> -->

        <div class="books">
            <!-- <span>Όνομα :</span> -->


            {{#each books}}
            <hr>
                <div class="book" style="display: flex;">
                <div>
                    <a href="/book-staff/{{this.ISBN}}" class="book-ref"><strong>{{this.Τίτλος}}</strong></a><br>
                    <span>Συγγραφ{{this.writers_end}}: </span>
                        {{#each this.Συγγραφείς}}
                            <span>{{this}}</span>
                        {{/each}}
                    <br>
                    <span>Έκδοση: </span><span>{{this.Έκδοση}}</span><br>
                    <span>Εκδοτικός οίκος: </span><span>{{this.Εκδοτικός_οίκος}}</span><br>
                    <div style="display: flex; gap: 0.5em;">
                        <span>Διαθεσιμότητα:</span>
                        <div>
                            {{#if this.not_available}}
                                <span style="color: red;">Μη διαθέσιμο</span>
                            {{/if}}

                            {{#each this.locations}}
                                <span style="color: green;">
                                {{!-- <span> --}}
                                    <span>{{this.available}}
                                        {{#if this.kratiseis}}
                                            <span style="color: rgb(82, 82, 82);">&nbsp(+&nbsp{{this.kratiseis}} {{this.kratiseis_str}})</span>
                                        {{/if}}
                                    </span> 
                                </span><br>
                            {{/each}}
                            
                            {{!-- <span style="color: red;">
                                <span>Δανειστική Βιβλιοθήκη Αθήνας:</span> 
                                <span>0/1</span>
                                (Μέγιστη επιστροφή σε <span>23</span> ημέρες)
                            </span> --}}
                        </div>
                    </div><br> 
                </div>
                <img src="{{this.imageFile}}" alt="" class="book-img">
            </div>


            {{/each}}


    

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/285af68c5a.js" crossorigin="anonymous"></script>

    <script>
        const checkList = document.getElementById('list1');
        checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
        if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
        else
            checkList.classList.add('visible');
        }

        document.querySelector("#select-all").addEventListener('change', function() {
            let categoryItems = document.querySelectorAll('input[name="category"]')
            if (categoryItems[0].checked) {
                // for (let i = 0; i<a.length)
                categoryItems.forEach(function(item) {
                    item.checked = true
                })
            }
            else {
                categoryItems.forEach(function(item) {
                    item.checked = false
                })
            }
        })


    </script>
