

    <div id="borrow-available" class="modal-lib">
  
        <form class="new-library modal-lib-content" style="background-color: whitesmoke;" method="POST" action="/book/{{book.ISBN}}">
          <span class="close-sign">&times;</span>
          <fieldset>
              <!-- <i class="fas fa-sign-in-alt fa-4x" id="sign-in-icon"></i> -->
              <h1>Κράτηση</h1> 
              <hr>
    
              <div style="margin: auto; text-align: center;">
                <div style="display: grid;">
                    <label for="select-library">
                        <strong>Βιβλιοθήκη:&nbsp</strong>
                    
                        <select id="select-library" name="selectLibrary" required>
                            <option value="" disabled hidden selected >Επιλέξτε βιβλιοθήκη</option>
                            {{#each locations}}
                                {{#if this.Ποσότητα}}
                                <option value="{{this.Βιβλιοθήκη_τώρα}}">{{this.Όνομα}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </label>
                </div>
                
                {{!-- <label for="user-id" style="margin-top: 1em;"><strong>Κωδικός μέλους:&nbsp;</strong>
                    <input type="text" name="userId" id="user-id" style="width: 10em;" required>
                </label> --}}
                  
              </div> 
    
    
            <br>
    
            <button class="reserve-btn save-btn1">Κράτηση</button>
          </fieldset>
        </form>
      </div>


    <div class="main-page-books">

        <div class="book">
            {{#if imageFile}}
            <img src="{{imageFile}}" alt="Cover photo of uploaded file" class="book-img">
            {{else}}
            <img src="/covers/booknotpictured.jpg" alt="Cover photo not found" id="thumb{{book.ISBN}}" class="book-img">
            <script src="/js/book-get-image.js"></script>
            {{!-- <script>
                fetch('https://www.googleapis.com/books/v1/volumes?q=isbn:{{book.ISBN}}')
                    .then(response => response.json())
                    .then(data => {
                        if (data.totalItems>0 && data.items[0].volumeInfo.imageLinks && data.items[0].volumeInfo.imageLinks.smallThumbnail){
                            document.querySelector('#thumb{{book.ISBN}}').src = data.items[0].volumeInfo.imageLinks.smallThumbnail;
                            document.querySelector('#thumb{{book.ISBN}}').alt = 'Cover photo from Google books {{book.ISBN}}';
                        }
                        else{
                            fetch('https://covers.openlibrary.org/b/isbn/{{book.ISBN}}-M.jpg?default=false')
                                .then(response => {
                                    if (response.status==200){
                                        document.querySelector('#thumb{{book.ISBN}}').src = 'https://covers.openlibrary.org/b/isbn/{{book.ISBN}}-M.jpg?default=false';
                                        document.querySelector('#thumb{{book.ISBN}}').alt = 'Cover photo from Open Library';
                                    }
                                })
                        }
                    });
            </script> --}}
            {{/if}}

            <div>
                <h4>{{book.Τίτλος}}</h4><br>
                <span><strong>Συγγραφ{{this.writers_end}}: </strong></span>
                    <span>
                    {{#each writers}}
                            {{this}}
                    {{/each}}
                    </span><br>
                <span><strong>Έκδοση: </strong></span><span>{{book.Έκδοση}}</span><br>
                <span><strong>Έτος έκδοσης: </strong></span><span>{{book.Εκδοτικός_οίκος}}</span><br>
                <span><strong>Εκδοτικός οίκος: </strong></span><span>{{book.Ημερομηνία_Έκδοσης}}</span><br>
                <span><strong>ISBN: </strong></span>{{book.ISBN}}<span></span><br>
                <span><strong>Αριθμός σελίδων: </strong></span>{{book.Σελίδες}}<span></span><br>
                <span><strong>DDC: </strong></span>{{book.DDC}}<span></span><br>
                 
                 
            </div>

            
        </div>
        {{!-- <span><strong><u>Περιγραφή</u></strong></span><br>
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Facilis voluptatem earum cum! Provident beatae iste unde quibusdam veniam qui 
                    fuga similique sapiente, excepturi, ducimus at ex maxime quasi et fugiat!</span><br> --}}
                
                <span><strong>Κατηγορίες: </strong></span><span>
                    {{#each categories}}
                            {{this.Όνομα}}
                    {{/each}}
                    </span><br><br>
                    <span><strong>Συνολικά αντίτυπα: </strong></span>{{total_books_count}}<span></span><br>
                <div style="display: flex; gap: 0.5em;">
                    <span><strong>Διαθεσιμότητα:</strong></span>
                    <div>
                        {{#each locations}}
                            <span style="color: green;"><strong>
                                <span>{{this.Όνομα}}:</span> 
                                <span>{{this.Ποσότητα}}</span></strong>
                                {{#if this.Κρατήσεις}}
                                    <span style="color: rgb(82, 82, 82);">&nbsp(+&nbsp{{this.Κρατήσεις}} {{this.Κρατήσεις_str}})</span>
                                {{/if}}
                            </span><br>
                        {{/each}}
                        </div>
                </div><br> 
        <button class="reserve-btn hold-btn" style="">Κράτηση</button>
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    </div>
    <!-- <script>
        document.querySelector('#reset-library').addEventListener("click", function() {
            document.querySelector('#library').value = ""
        })

    </script> -->
    <script src="/js/book.js"></script>
