
  <div class="main-page-libraries">
    <h1>Βιβλιοθήκες</h1>
    <div>
      Οι βιβλιοθήκες που μπορείτε να επισκεφτείτε.<div class=""></div>
    </div>
    {{!-- <hr> --}}
    <!-- <br> -->

    <div class="libraries">
      <!-- <span>Όνομα :</span> -->

      {{#each libraries}}
        {{#if this.Όνομα}}
        <hr>
          <div class="library">
            <h3>{{this.Όνομα}}</h3>
            <h5>Διεύθυνση : <span class="address" style="font-size: medium;">{{this.Οδός}}, {{this.Πόλη}} {{this.ΤΚ}}</span></h5>
            <div style="display: flex;">
              {{#if this.multiple_numbers}}
                <h5>Τηλέφωνα:&nbsp;</h5>
                <div style="display: grid;">
                  {{#each this.Τηλέφωνο_Βιβλ}}
                    <h5><span class="phone" style="font-size: medium;">{{this}}</span></h5>
                  {{/each}}

                </div>
              {{else}}
                <h5>Τηλέφωνο:&nbsp;</h5>
                <div style="display: grid;">
                  {{#each this.Τηλέφωνο_Βιβλ}}
                    <h5><span class="phone" style="font-size: medium;">{{this}}</span></h5>
                  {{/each}}

                </div>
              {{/if}}
              
            </div>
            <h6>Διαθέσιμα αντίτυπα : <span>{{this.book_sum}}</span></h6>
            {{!--   <strong>52</strong> εκ των οποίων <strong>50</strong> είναι διαθέσιμα προς δανεισμό.</h6> --}}
          </div>      
        {{/if}}
      
      
      {{/each}}

    </div>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  </div>
