



    <div id="new-lib-modal" class="modal-lib">

        <div class="new-library modal-lib-content" style="background-color: whitesmoke;">
            <span class="close-sign">&times;</span>
            <h2>Επιλογή συνδρομής για τον/την <span id="sub-name"></span></h2> 
            {{#each subscriptions}}
                <hr>
                <div class="library">
                    <div>
                    <h4>Συνδρομή για {{this.Διάρκεια}} μήν{{this.months_end}} [{{this.Κωδικός_συνδρομής}}]</h4>
                    <h6>Τιμή: <span class="address" style="font-size: medium;">{{this.Τιμή}}€</span></h5>
                    <h6>Μέγιστη διάρκεια δανεισμού: <span class="address" style="font-size: medium;">{{this.Διάρκεια_δανεισμού}} ημέρ{{this.Διάρκεια_δανεισμού_end}}</span></h5>
                    <h6>Μέγιστοι τρέχοντες δανεισμοί: <span class="address" style="font-size: medium;">{{this.Όριο_δανεισμών}} βιβλί{{this.Όριο_δανεισμών_end}}</span></h5>
                    <h6>Ημερήσια επιβαρυνση καθυστερησης επιστροφής: <span class="address" style="font-size: medium;">{{this.Επιβάρυνση_καθυστέρησης_ασυνέπειας}}€</span></h5>
            
                    </div>
                    <div style="display: grid; margin-left: auto; margin-right: 5%; align-items: center;">
                    <!-- <button class="edit-btn reserve-btn" onclick=" location.href='./subscriptions-admin-1.html' ">Επεξεργασία</button> -->
                    <form method="post" action="/add-user-subscription/{{this.Κωδικός_συνδρομής}}">
                        <input class="inp-id" type="text" style="display: none;" name='userId'>
                        {{!-- <input type="text" style="display: none;" name='userId{{this.Κωδικός_συνδρομής}}'> --}}
                        <button class="edit-btn reserve-btn subm-btn" style="margin-right: 1.5em;">Επιλογή</button>
                    </form>
                    </div>
                </div>
            {{/each}}

            <!-- <br> -->
            {{!-- <div class="library">
                <div>
                <h4>Συνδρομή για 3 μήνες</h4>
                <h6>Τιμή: <span class="address" style="font-size: medium;">10€</span></h5>
                <h6>Μέγιστη διάρκεια δανεισμού: <span class="address" style="font-size: medium;">15 ημέρες</span></h5>
                <h6>Μέγιστοι τρέχοντες δανεισμοί: <span class="address" style="font-size: medium;">2 βιβλία</span></h5>
                <h6>Ημερήσια επιβαρυνση καθυστερησης επιστροφής: <span class="address" style="font-size: medium;">0,8€</span></h5>
        
                </div>
                <div style="display: grid; margin-left: auto; margin-right: 5%; align-items: center;">
                <!-- <button class="edit-btn reserve-btn" onclick=" location.href='./subscriptions-admin-1.html' ">Επεξεργασία</button> -->
                <form method="post" action="">
                    <button class="edit-btn reserve-btn" style="margin-right: 1.5em;">Επιλογή</button>
                </form>
                </div>
        
            </div>
        
            <hr>
            <!-- <br> -->
            <div class="library">
                <div>
                <h4>Συνδρομή για 6 μήνες</h4>
                <h6>Τιμή: <span class="address" style="font-size: medium;">25€</span></h5>
                <h6>Μέγιστη διάρκεια δανεισμού: <span class="address" style="font-size: medium;">30 ημέρες</span></h5>
                <h6>Μέγιστοι τρέχοντες δανεισμοί: <span class="address" style="font-size: medium;">2 βιβλία</span></h5>

                <h6>Ημερήσια επιβαρυνση καθυστερησης επιστροφής: <span class="address" style="font-size: medium;">0,5€</span></h5>
        
                </div>
                <div style="display: grid; margin-left: auto; margin-right: 5%; align-items: center;">
                <!-- <button class="edit-btn reserve-btn" onclick=" location.href='./subscriptions-admin-1.html' ">Επεξεργασία</button> -->
                <button class="edit-btn reserve-btn" style="margin-right: 1.5em;">Επιλογή</button>
                </div>
        
            </div> --}}
        </div>

        
        
    </div>



      
    <div class="main-page-users">
        <h1>Εγγεγραμμένα μέλη</h1>
        <br>
        <form class="search" style="background-color: #abbed1;" ction="">
            <label for="search" style="margin-bottom: 5px;"><h6>Αναζήτηση με όνομα και επίθετο ή τηλέφωνο ή email ή κωδικό μέλους:</h6></label>
            <input type="text" placeholder="Αναζήτηση.." name="search" id="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <br>
        <div>
            <h5>Φίλτρα:</h5>

            <div class="filter">
                <label for="select-sub">
                    <h6>Συνδρομή:</h6>
                </label>
                <select id="select-sub" name="select-sub">
                    <option value="" disabled hidden selected>Επιλέξτε συνδρομή</option>
                    <option value="all">Όλες</option>
                    <option value="patra">Ενεργή</option>
                    <option value="saab">Ανενεργή</option>
                </select>
            </div>


                  
                



            <button class="reserve-btn" style="margin: auto;">Εφαρμογή</button>
            <!-- <button id="reset-library">
              Επαναφορά
          </button> -->

        </div>
        {{!-- <hr> --}}
        <!-- <br> -->

        <div class="books">
            <!-- <span>Όνομα :</span> -->
            {{#each users}}
            <hr>
            <div class="book" style="display: flex;">
                <div style="flex-grow: 1;">
                    <!-- <a href="./book/1" class="book-ref"><strong>ΜΕΝΙΑ ΜΙΧΑΗΛΙΔΟΥ</strong></a><br> -->
                    <strong>{{this.Όνομα}}</strong><br>
                    <span>Κωδικός μέλους: </span><span>{{this.Κωδικός_Μέλους}}</span><br>
                    <div style="display: flex;">
                        
                        <span>Τηλέφωνο/α:&nbsp;</span>
                        <div style="display: grid;">
                        {{#each this.phone}}
                          <span class="phone">{{this}}</span>
                        {{/each}}
                        </div>
                    </div>
                    <span>Email: </span><span>{{this.email}}</span><br>
                    <span>Συνδρομή: </span>
                        {{#if this.Ενεργή}}
                        <span style="color: green;">Ενεργή</span>
                        {{else}}
                        <span style="color: red;">Ανενεργή</span>
                        {{/if}}
                        <br>
                    <span>Διάρκεια: </span><span>
                        {{#if this.Ενεργή}}
                        {{this.Διάρκεια}} μήνες [{{this.Κωδ_συνδρομής}}] (Απομένουν {{this.Λήγει_σε}} ημέρες)
                        {{/if}}
                        </span><br>
                    <span>Περιθώριο επιστροφής: </span><span>{{this.Διάρκεια_δανεισμού}} ημέρες</span><br>
                    <span>Δανεισμένα βιβλία: </span><span>{{this.Δανεισμένα}}</span><br>
                    {{#if this.Ενεργή}}
                    <span>Περιθώριο δανεισμού: </span><span>{{this.Νέο_όριο_δανεισμών}} / {{this.Όριο_δανεισμών}}</span><br>
                    {{/if}}
                    <!-- <span>Ενεργοί δανεισμοί:</span> -->
                    {{!-- <div style="display: flex;">
                        <span style="width: 7em;">Κράτηση:</span>
                        <div>
                            <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]</span>
                            <span> έγινε στις: </span>
                            <span>12/8/2006</span>
                            <br>
                            <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                        </div>
                    </div>
                    <div style="display: flex;">
                        <span style="width: 10em;">Ενεργοί δανεισμοί:</span>
                        <div>
                            <span style="color: green;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>Δανεισμένο 10 μέρες, επιστροφή σε 12 ημέρες</span>
                            </span><br>
                            <span style="color: red;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>Δανεισμένο 15 μέρες, καθυστέρηση 3 ημέρες</span>
                            </span>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <span style="width: 13em;">Παλαιότεροι δανεισμοί:</span>
                        <div>
                            <span style="color: green;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>(Δανεισμένο 10 μέρες, επιστροφή σε 12 ημέρες)</span>
                            </span><br>
                            <span style="color: red;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>(Δανεισμένο 15 μέρες, καθυστέρηση 3 ημέρες)</span>
                            </span><br>
                        </div>
                    </div> --}}
                    <span>Μέλος από: </span><span>{{this.Ημερομηνία_Εγγραφής}}</span><br> 


                </div>

                
                <button class="reserve-btn new-sub" style="margin-left: 0.4em;" data-user-id="{{this.Κωδικός_Μέλους}}" data-user-name="{{this.Όνομα}} {{this.Επίθετο}}">Νέα συνδρομή</button>
                <!-- <img src="./images/ele.jpg" alt="" class="book-img"> -->
            </div>
            {{/each}}
            <br>

            {{!-- <div class="book" style="display: flex;">
                <div>
                    <!-- <a href="./book/1" class="book-ref"><strong>ΜΕΝΙΑ ΜΙΧΑΗΛΙΔΟΥ</strong></a><br> -->
                    <strong>ttt</strong><br>
                    <span>Κωδικός μέλους: </span><span>0000</span><br>
                    <span>Συνδρομή: </span><span>Ενεργή</span><br>
                    <span>Περιθώριο δανεισμού: </span><span>1 βιβλίο</span><br>
                    <!-- <span>Ενεργοί δανεισμοί:</span> -->
                    <div style="display: flex;">
                        <span style="width: 10em;">Ενεργοί δανεισμοί:</span>
                        <div>
                            <span style="color: green;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>(Δανεισμένο 10 μέρες, επιστροφή σε 12 ημέρες)</span>
                            </span><br>
                            <span style="color: red;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>(Δανεισμένο 15 μέρες, καθυστέρηση 3 ημέρες)</span>
                            </span>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <span style="width: 13em;">Παλαιότεροι δανεισμοί:</span>
                        <div>
                            <span style="color: green;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>(Δανεισμένο 10 μέρες, επιστροφή σε 12 ημέρες)</span>
                            </span><br>
                            <span style="color: red;">
                                <span>Τίτλος βιβλίου κλπκλπκλπκλδδδδδδδδπκλπ [0123456789012]:</span> 
                                <span>(Δανεισμένο 15 μέρες, καθυστέρηση 3 ημέρες)</span>
                            </span><br>
                        </div>
                    </div><br> 


                </div>

                
                <button class="reserve-btn new-sub" style="margin-left: 0.4em;" data-user-id="00000" data-user-name="ttt">Νέα συνδρομή</button>
                <!-- <img src="./images/ele.jpg" alt="" class="book-img"> -->
            </div> --}}

        </div>
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    </div>

    <script src="js/users-staff.js"></script>
